---
let jobs = [
    {
        title: 'Waka Solutions',
        description: 'Consultoría y desarrollo de software a medida. Desarrollo de aplicaciones web y móviles punteras en tecnología. En Waka Solutions, he realizado todo tipo de proyectos, trabajando principalmente con el Stack de Angular y .NET Core (v8.0). En ésta empresa, al ser de consultoría tecnológica, he trabajado en más de 5 proyectos diferentes',
        image: 'https://media.licdn.com/dms/image/v2/C4D0BAQGw2-GXZP8goQ/company-logo_200_200/company-logo_200_200/0/1631331669565?e=1740009600&v=beta&t=MHDGspgA5ALm7TzjFhXx_3JV141guPgIy8IeaDdpW04',
        link: 'https://waka.solutions/'
    },
    {
        title: 'Ok Mobility',
        description: 'Mantenimiento y desarrollo de nuevas funcionalidades para el CRM de la empresa, así como la creación de una plataforma de gestión de flotas de vehículos y el mantenimiento de un proyecto de Pricing de vehículos.',
        image: 'https://okmobility.com/alquilar/images/app-landing/foto1.jpg',
        link: 'https://corporate.okmobility.com/es/'
    },
    {
        title: 'Plexus Tech',
        description: 'Desarrollo y análisis de un proyecto de gestión de presupuestos del estado para la FSE (fondos sociales europeos).',
        image: 'https://www.plexus.es/wp-content/uploads/2021/07/logo_cropped.png',
        link: 'https://www.plexus.es/'
    },
    {
        title: 'Hotelinking',
        description: 'Start-Up mallorquina enfocada principalmente al sector turístico y a una suite de productos de fidelización y marketing para el sector hotelero. Desarrollo de nuevas funcionalidades para algunas aplicaciones y mantenimiento de la plataforma núcleo.',
        image: 'https://www.hotelinking.com/wp-content/uploads/2023/07/SWiFiHeaderEs.png',
        link: 'https://www.hotelinking.com/'
    }
]
---

<div>
    <div class="job-container">
        {jobs.map((job) => (
            <div class="job-card">
                <h4 class="job-title">{job.title}</h4>
                <div class="image-container">
                    <img class="image" src={job.image} alt={job.title} />
                </div>
                
                <p class="job-description">{job.description}</p>

                <a class="job-link" href={job.link} target="_blank">Ver más</a>
            </div>
        ))}
    </div>
</div>

<style>
    .job-container {
        width: 100%;
    }

    .job-title {
        margin-bottom: 2%;
    }

    .job-description {
        margin: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-card {
        border: 1px solid black;
        padding: 10px;
        margin: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        width: 30%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-link {
        align-self: center;
    }
</style>